header {
    background-image: linear-gradient(rgb(175, 245, 135), rgb(101, 221, 221));
    margin: 0px;
    padding: 10px;
    position: sticky;
}
header h2 {
    margin: 0px;
    padding: 2px 2px 0px 3px;
    color: blue;
    text-align: right;
    display: inline;
    font-size: 2vw;
    position: sticky;
    cursor: pointer;
}
.siglarom {
    background-image: url("images/title/Delta_dunarii2.jpg");
    
}
header nav ul {
    margin: 0px;
    padding: 0px 15px 2px 5px;
    display: inline;
    position: sticky;
}
header nav ul li {
    background-color: white;
    color: blue;
    list-style-type: none ;
    display: inline-block;
    margin: 5px;
    padding: 5px 15px 5px 5px;
    border-radius: 10px;
    width: auto;
    font-size: 1vw;
    position: sticky;
}
#search {
    font-size: 1vw;
    position: sticky;
}
.titlu {
    background-color: black;
    color: white;
    padding: 5px;
    margin:0px;
    font-size: 24px;
}
.titlu ul {
    list-style-type: none;
}
.titlu ul li {
    display: inline;
}
body {
    background-color: white;
    color: black;
    margin: 0px;
    padding-top: 0px;
}
aside.left {
    background-color: none;
    color: black;
    padding: 3px;
    font-family: 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 2vw;
    width:10%;
    float: left;
    margin-right: 0px;
}
aside.left ul { 
    list-style-type: none;
    padding: 0px; 
}
aside.left li {
    font-family:'Times New Roman', Times, serif;
    margin: 0px;   
}
aside.left li a {
    text-decoration: none;
}
aside.right {
     background-color: none;
     color: rgb(24, 23, 23);
     font-weight: bold;
     font-size: 2vw;
     float:right;
     width: 10%;
     padding : 2px;
     margin-top: none;
     margin-right: 0px;
     margin-bottom: 14px;
} 
aside.right ul { 
    list-style-type: none;
    padding: 0; 
    margin-right: 2px;
    background-color: #f1f1f1;
    text-align: center;
}
aside.right ul li {
    margin: 10px;
    padding: 5px;
    list-style-type: none;
}
aside.right ul li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}
aside.right ul li a:hover {
    background-color: #555;
    color: white;
}
table, td, th {
    text-align: center;
    margin: 0px;
    padding: 5px;
}
.titlutext {
    text-align: center;
}
.textimagine  {
    text-align: left;
    text-indent: 25px;
    font-size: 18px;
    font-weight: bold;
}
.listapoze a {
    color: blue;
    padding: 8px;
    text-decoration: solid left;
    border: 1px solid yellowgreen;
    border-radius: 20%;
    margin: 2px;
}
a:link {
    color:blue;
}
a:visited {
    color: rgb(45, 65, 243);
    text-decoration: none;
}
a:active {
    color: aqua;
    text-decoration: underline;
}
.oras {
    background-color: aquamarine;
    margin: 0px;
    padding: 0px;
    border-radius: 10px;
    text-align: center;
}
.oras a:hover {
    color: red;
    text-decoration: blue;
    font-size: 24px;
    background-color: aquamarine;
}
.link a:hover {
    color: red;
    font-size: 18px;
}
.biserica {
    font-size: 1.5vw;
    text-align: left;
    text-indent: 20px;
}
footer {
    background-color: rgb(231, 233, 212);
    border: 3px solid rgb(146, 207, 146);
    font: size 80px;
    color:blue;
    position: sticky;
}
.footer input[type=text] {
    width: 20%;
    padding: 6px;
    margin: 8px 0;
    box-sizing: border-box;
    border-radius: 10px;
    background-color: rgb(203, 238, 171);
    color: rgb(72, 100, 226);
    font-weight: bolder;
  }
